* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: white;
    color: #626567;
    display: flex;
    flex-direction: column;
}

/* Scroll bar */

::-webkit-scrollbar {
	/*滚动条整体样式*/
        width:5px;
	/*高宽分别对应横竖滚动条的尺寸*/
        height:5px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
    background:#BDBDBD;
}
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
        background:#e8ecf3;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    overflow: visible;
    height: 8vh;
    border-bottom: 1px solid lightgray;
    /* box-shadow: 0 0.1em 0.2em -0.1em lightgray; */

}

.logo {
    flex-basis: 75%;
}

.navigation {
    flex-direction: column;
    margin-top: 0.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: #626567;
}

.dropdown-content {
    display: none;
}

.dropdown-content .item {
    padding: 8px 0;
    transition: linear 0.1s;
    color: #A6ACAF;
    text-decoration: none;
    outline: none;
}

.dropdown:hover {
    cursor: pointer;
    
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #7B7D7D;
    top: 30px;
    left: -25px;
    position: absolute;
    min-width: 80px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
    padding: 8px 16px;
    border-radius: 0.1em;
}

.dropdown-content .item:hover {
    color: #626567;
    text-decoration: underline;
}

/* Main */

article {
    overflow: hidden;
    height: 92vh;
}

.sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 92vh;
    width: 40vh;
    border-right: 1px solid lightgray;
    /* box-shadow: 0.1em 0 0.2em -0.1em lightgray; */
}

.categories {
    position: relative;
    padding-top: 1em;
    padding-left: 1.5em;
    color: #626567;
}

.categories-name {
    font-weight: 550;
}

.categories-content {
    overflow: hidden;
    margin-left: 1.5em;
    color: #A6ACAF;
}

.categories-content .item {
    display: block;
    transform: translateX(-1em);
    transition: linear 0.1s;
    padding-top: 0.8em;
    outline: none;
    text-decoration: none;
}

.categories-content .item:hover, .item:visited {
    cursor: pointer;
    color: #626567;
    transform: translateY(0);
}

#datapack, #command {
    display: none;
}

#datapack:target {
    display: block;
}

#command:target {
    display: block;
}